{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}




        <article class="post">
            <h2>
                article
            </h2>


        </article>

{% endblock %}

{% block sidebar %}
    {{ parent() }}

    <h3>this is the sudebar</h3>
{% endblock %}
